<template>
  <div class="header-container">
      <div class="logo"></div>
      <div class="navigation">
          <span><a href="#">Home</a></span>
          <span><a href="#">Portfolio</a></span>
          <span><a href="#">Hire me</a></span>
      </div>
      <div class="external-refs-and-search">
          <div class="external-refs">
          <a href="#"><i class="fa fa-envelope"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-gitlab"></i></a>
          <a href="#"><i class="fa fa-facebook-f"></i></a>
              </div>  
          <i class="fa fa-search"></i>
      </div>
  </div>

</template>


<script>
import "font-awesome/css/font-awesome.css";
export default {
  name: "MainHeader",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  }
};
</script>

<style>
.external-refs-and-search {
  color: white;
}
.header-container {
  display: flex;
  align-items: center;
  height: 100px;
  background: black;
  padding: 0 20px;
}
.logo {
  width: 187px;
  height: 62px;
  background: transparent url(~@/assets/MyBlogLogo.jpg) no-repeat 0px 0px;
}
.navigation {
  float: left;
  margin-left: 60px;
  min-width: 390px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
}

.external-refs-and-search {
  font-size: 1.3rem;
  display: flex;
  min-width: 245px;
  justify-content: space-between;
  margin-left: auto;
}

.external-refs {
  display: flex;
  justify-content: space-between;
  min-width: 165px;
}
@media screen and (max-width: 1190px) {
  .logo {
    float: none;
    clear: both;
    margin: 0 auto;
  }
}
</style>
