<template>
  <div id="app">
      <v-header />      
        <router-view/>
  </div>
</template>

<script>
import MainHeaderVue from "./components/MainHeader.vue";

export default {
  name: "App",
  components: {
    "v-header": MainHeaderVue
  }
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
